/* Estilos para la sección de detalle del producto */
.detalle {
    margin-top: 80px; /* Margen superior para evitar que la barra de navegación cubra contenido */
    padding: 20px;
    text-align: center;
}

.detalle h1 {
    margin-bottom: 20px;
    font-size: 2rem; /* Tamaño de fuente del título */
}

.producto {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    padding: 20px;
    border-radius: 10px;
}

.informacion-producto {
    color: #fff; /* Color del texto de la información del producto */
    text-align: left;
}

.informacion-producto p {
    margin-bottom: 10px;
}

/* Estilos para el botón de volver al inicio */
.btn-volver {
    display: block;
    width: 150px;
    margin: 20px auto;
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
}

.btn-volver:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón */
}